@model QuanLyCuTru.Models.AddCongDanViewModel

@{
    ViewBag.Title = "Thêm công dân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thêm công dân</h2>
<hr />

@using (Html.BeginForm("Create", "QuanLyDan", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">

        <div class="col-12 col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.NguoiDung.HoTen, htmlAttributes: new { @class = "control-label col-12" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NguoiDung.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NguoiDung.HoTen, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NguoiDung.GioiTinh, htmlAttributes: new { @class = "control-label col-12" })
                <div class="col-md-10">
                    <div class="custom-control custom-radio">
                        <!-- Male button is checked by default-->
                        @Html.RadioButtonFor(model => model.NguoiDung.GioiTinh, 1, new { @checked = "checked" })
                        @Html.LabelFor(model => model.NguoiDung.GioiTinh, "Nam")
                    </div>
                    <div class="custom-control custom-radio">
                        @Html.RadioButtonFor(model => model.NguoiDung.GioiTinh, 0)
                        @Html.LabelFor(model => model.NguoiDung.GioiTinh, "Nữ")
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NguoiDung.SinhNhat, htmlAttributes: new { @class = "control-label col-12" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NguoiDung.SinhNhat, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NguoiDung.SinhNhat, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NguoiDung.ChucVuId, null, htmlAttributes: new { @class = "control-label col-12" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.NguoiDung.ChucVuId,
                                     new SelectList(Model.ChucVus, "Id", "Ten"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NguoiDung.ChucVuId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NguoiDung.DienThoai, htmlAttributes: new { @class = "control-label col-12" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NguoiDung.DienThoai, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NguoiDung.DienThoai, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NguoiDung.SoNha, htmlAttributes: new { @class = "control-label col-12" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NguoiDung.SoNha, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NguoiDung.SoNha, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NguoiDung.Duong, htmlAttributes: new { @class = "control-label col-12" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NguoiDung.Duong, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NguoiDung.Duong, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.NguoiDung.Phuong, htmlAttributes: new { @class = "control-label col-12" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NguoiDung.Phuong, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NguoiDung.Phuong, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NguoiDung.Quan, htmlAttributes: new { @class = "control-label col-12" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NguoiDung.Quan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NguoiDung.Quan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NguoiDung.ThanhPho, htmlAttributes: new { @class = "control-label col-12" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NguoiDung.ThanhPho, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NguoiDung.ThanhPho, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NguoiDung.NoiSinh, htmlAttributes: new { @class = "control-label col-12" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NguoiDung.NoiSinh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NguoiDung.NoiSinh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NguoiDung.QueQuan, htmlAttributes: new { @class = "control-label col-12" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NguoiDung.QueQuan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NguoiDung.QueQuan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NguoiDung.QuocTich, htmlAttributes: new { @class = "control-label col-12" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NguoiDung.QuocTich, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NguoiDung.QuocTich, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NguoiDung.Avatar, htmlAttributes: new { @class = "control-label col-12" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ImageFile, new { type = "file" })
                    @Html.ValidationMessageFor(model => model.ImageFile, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-offset-2 col-md-10">
                <div>
                    <input type="submit" value="Tạo mới" class="btn btn-success" />
                    @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
           
    </div>
}


@section scripts
{
    @Scripts.Render("~/bundles/jquery-ui")
    <script>
        $(document).ready(function () {

            // DateTime picker for NgayTao
            $('#NguoiDung_SinhNhat').datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy'
            });
        });
    </script>
}