@model QuanLyCuTru.Models.NguoiDung

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .avatar {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
    }
</style>

<h2>Thông tin chi tiết</h2>

<div>
    <h4>@Model.HoTen</h4>
    <hr />
    <div class="row align-items-center">
        <div class="col-md-5">
            <img src="@Html.DisplayFor(model => model.Avatar)" alt="" class="avatar" />
        </div>
        <div class="table-responsive-md">
            <table class="table">
                <tbody>
                    <tr>
                        <th class="border-0">@Html.DisplayNameFor(model => model.Email)</th>
                        <td class="border-0">@Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <th class="border-0">@Html.DisplayNameFor(model => model.StringGioiTinh)</th>
                        <td class="border-0">@Html.DisplayFor(model => model.StringGioiTinh)</td>
                    </tr>
                    <tr>
                        <th class="border-0">@Html.DisplayNameFor(model => model.SinhNhat)</th>
                        <td class="border-0">@Html.DisplayFor(model => model.SinhNhat)</td>
                    </tr>
                    <tr>
                        <th class="border-0">@Html.DisplayNameFor(model => model.DiaChi)</th>
                        <td class="border-0">@Html.DisplayFor(model => model.DiaChi)</td>
                    </tr>
                    <tr>
                        <th class="border-0">@Html.DisplayNameFor(model => model.NoiSinh)</th>
                        <td class="border-0">@Html.DisplayFor(model => model.NoiSinh)</td>
                    </tr>
                    <tr>
                        <th class="border-0">@Html.DisplayNameFor(model => model.QueQuan)</th>
                        <td class="border-0">@Html.DisplayFor(model => model.QueQuan)</td>
                    </tr>
                    <tr>
                        <th class="border-0">@Html.DisplayNameFor(model => model.QuocTich)</th>
                        <td class="border-0">@Html.DisplayFor(model => model.QuocTich)</td>
                    </tr>
                    @*<tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Avatar)</th>
                    <td>@Html.DisplayFor(model => model.Avatar)</td>
                </tr>*@
                </tbody>
            </table>

        </div>
    </div>
    
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
