@model QuanLyCuTru.Models.NguoiDung

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .avatar {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 2em;
    }
</style>

<h2>Thông tin chi tiết</h2>

<div>
    <h4>@Model.HoTen</h4>
    <hr />
    <dl class="dl-horizontal">
        <img src="https://cdn2.iconfinder.com/data/icons/rcons-users-color/32/boy-512.png" alt="" class="avatar" />
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StringGioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StringGioiTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SinhNhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SinhNhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiSinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiSinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QueQuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QueQuan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuocTich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuocTich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avatar)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
