@model QuanLyCuTru.Models.CuTru

@{
    ViewBag.Title = "Chi tiết cư trú";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin chi tiết cư trú</h2>

<div>
    <h4>Mã số: @Model.Id</h4>
    <hr />
    <dl class="row">
        <div class="col-10 mt-3">
            <div class="col-12 col-md-6 p-0">
                <a href="#" class="list-group-item list-group-item-action active">
                    Danh sách công dân
                </a>
                @foreach (var congDan in Model.CongDans)
                {
                    var text = $"Mã số: {congDan.Id} - {congDan.HoTen} ({congDan.StringGioiTinh}), {DateTime.Now.Year - congDan.SinhNhat.Year} tuổi";
                    @Html.ActionLink(text, "Details", "QuanLyDan", new { id = congDan.Id }, new { @class = "list-group-item list-group-item-action" })
                }
            </div>
        </div>
        <div class="col-12 col-md-6 mt-3">
            <dt>
                @Html.DisplayNameFor(model => model.DiaChi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiaChi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LoaiCuTru.Ten)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LoaiCuTru.Ten)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NgayTao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayTao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NgayDangKy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayDangKy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NgayHetHan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayHetHan)
            </dd>
        </div>
        <div class="col-12 col-md-6 mt-md-3">
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DienThoai)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DienThoai)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DaDuyet)
            </dt>

            <dd>
                @if (Model.DaDuyet)
                {
                    @Html.DisplayFor(model => model.DaDuyet)
                }
                else if (User.IsInRole("Admin") || User.IsInRole("CanhSatKhuVuc"))
                {
                    <button id="duyetButton" data-cutru-id="@Model.Id" class="btn btn-success">Click vào đây để duyệt</button>
                }
                else
                {
                    @Html.DisplayFor(model => model.DaDuyet)
                }

            </dd>

            <dt>
                Tên cán bộ duyệt
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CanBo.HoTen)
            </dd>
        </div>
    </dl>
</div>
<p class="text-center">
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" })
    @Html.ActionLink("Quay về", "Index", null, new { @class = "btn btn-primary" })
</p>
@section scripts 
{
    <script>
        $(document).ready(() => {
            $("#duyetButton").on("click", (e) => {
                var id = $(e.target).attr("data-cutru-id");
                //confirm
                bootbox.confirm("Bạn có chắc là muốn duyệt cư trú này?", (result) => {
                    if (result) {
                        $.ajax({
                            url: "/api/QuanLyCuTru/Duyet/" + id,
                            method: "PATCH",
                            success: () => {
                                window.location.replace("/CanBo/QuanLyCuTru");
                            }
                        })
                    }
                    else {
                        console.log("Cancelled");
                    }
                });
            });
        });
    </script>    
}
