@model QuanLyCuTru.Models.TimCuTruViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý cư trú</h2>
@using (Html.BeginForm("Index", "QuanLyCuTru", FormMethod.Post))
{
    // First line
    <div class="form-inline">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Tìm kiếm</label>
        @Html.DropDownListFor(m => m.LoaiTimKiemId,
        new SelectList(Model.LoaiTimKiems, "Id", "Name"),
        new { @class = "custom-select mb-2 mr-sm-2 mb-sm-0" })

        @Html.TextBoxFor(m => m.TimKiem,
        new
        {
            @class = "form-control mb-2 mr-sm-2 mb-sm-0",
            @placeholder = "Nhập dữ liệu muốn tìm"
        })

        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </div>
    <br/>
   // Second line
    <div class="form-inline">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Loại cư trú</label>
        @Html.DropDownListFor(m => m.LoaiCuTruId,
        new SelectList(Model.LoaiCuTrus, "Id", "Name"),
        new { @class = "custom-select mb-2 mr-sm-2 mb-sm-0" })

        <label class="mr-sm-2" for="inlineFormCustomSelect">Thời hạn</label>
        @Html.DropDownListFor(m => m.LoaiHanId,
        new SelectList(Model.LoaiHans, "Id", "Name"),
        new { @class = "custom-select mb-2 mr-sm-2 mb-sm-0" })

        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> Đã duyệt?
        </label>
    </div>
}
<br />
<p>
    @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CuTrus[0].Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CuTrus[0].LoaiCuTru.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CuTrus[0].NgayDangKy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CuTrus[0].NgayHetHan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CuTrus[0].DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CuTrus[0].DaDuyet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.CuTrus)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiCuTru.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDangKy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayHetHan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaDuyet)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
            <i class="fas fa-trash-alt">@Html.ActionLink("Xóa", "Delete", new { id = item.Id })</i>
        </td>
    </tr>
}

</table>
