@model QuanLyCuTru.Models.NguoiDung

<style>
.navbar{
    padding: 0.5rem 1rem;
}
</style>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="#" class="navbar-brand">@ViewBag.PageTitle</a>
 
    <button class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                @Html.ActionLink("Trang chủ", "Index", "CanBo", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Cư trú</a>
                <div class="dropdown-menu">
                    @Html.ActionLink("Đăng ký", "Create", "QuanLyCuTru", null, new { @class = "dropdown-item" })
                    @Html.ActionLink("Danh sách", "Index", "QuanLyCuTru", null, new { @class = "dropdown-item" })
                    @Html.ActionLink("Chưa duyệt", "Index", "QuanLyCuTru",
                       new { LoaiTrangThaiId = 3 },
                       new { @class = "dropdown-item" })
                    @Html.ActionLink("Đã duyệt", "Index", "QuanLyCuTru",
                       new { LoaiTrangThaiId = 2 },
                       new { @class = "dropdown-item" })
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Công dân</a>
                <div class="dropdown-menu">
                    @Html.ActionLink("Danh sách", "Index", "QuanLyDan", null, new { @class = "dropdown-item" })
                    @Html.ActionLink("Đã đăng ký", "Index", "QuanLyDan",
                       new { LoaiTaiKhoanId = 2 },
                       new { @class = "dropdown-item" })
                    @Html.ActionLink("Chưa đăng ký", "Index", "QuanLyDan",
                       new { LoaiTaiKhoanId = 3 },
                       new { @class = "dropdown-item" })
                </div>
            </li>
            <li class="nav-item">
                @Html.ActionLink("Liên hệ", "Contact", "Home", null, new { @class = "nav-link"})
            </li>
            (
        </ul>
       @Html.Partial("_ProfileView")
    </div>
</nav>