@model IEnumerable<QuanLyCuTru.Models.CuTru>

<table class="table table-hover mt-4">
    <thead>
        <tr>
            <th class="border-bottom-0">
                @Html.DisplayNameFor(m => m.Id)
            </th>
            <th class="border-bottom-0">
                @Html.DisplayNameFor(m => m.Ten)
            </th>
            <th class="border-bottom-0">
                @Html.DisplayNameFor(m => m.DiaChi)
            </th>
            <th class="border-bottom-0">
                @Html.DisplayNameFor(m => m.DienThoai)
            </th>
            <th class="border-bottom-0">
                @Html.DisplayNameFor(m => m.NgayDangKy)
            </th>
            <th class="border-bottom-0">
                @Html.DisplayNameFor(m => m.LoaiCuTru)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Ten</td>
                <td>@item.DiaChi</td>
                <td>@item.DienThoai</td>
                <td>@item.NgayDangKy</td>
                <td>@item.LoaiCuTru.Ten</td>
            </tr>
        }
    </tbody>
</table>