@model QuanLyCuTru.Models.CanBoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = "Cán bộ";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Content/Canbo.css">
    <title>@ViewBag.PageTitle</title>
</head>
<body>
    <main class="py-2">
        <div class="alert alert-success">
            <strong>Thông báo!</strong> Tin tức từ chỉ huy.
        </div>
        @Html.Partial("_NavigationView")
        <div class="d-flex">
            @*<div class="anonymous-view">&nbsp;</div>*@
            <div class="data-view">
                <div class="statistic-view row">
                    <div class="category col-12 col-sm-6 col-md-3 d-flex align-items-center justify-content-center">
                        <h5 class="text-capitalize font-weight-bold mb-0" style="flex: 0 0 70%;">Tổng số</h5>
                        <h3><span class="badge badge-dark">@Model.TongSo</span></h3>
                    </div>
                    <div class="category col-12 col-sm-6 col-md-3 d-flex align-items-center justify-content-center">
                        <h5 class="text-capitalize font-weight-bold mb-0" style="flex: 0 0 70%;">Đăng ký hôm nay</h5>
                        <h3><span class="badge badge-dark">@Model.DangKyHomNay</span></h3>
                    </div>
                    <div class="category col-12 col-sm-6 col-md-3 d-flex align-items-center justify-content-center">
                        <h5 class="text-capitalize font-weight-bold mb-0" style="flex: 0 0 70%;">Chờ duyệt</h5>
                        <h3><span class="badge badge-dark">@Model.ChoDuyet</span></h3>
                    </div>
                    <div class="category col-12 col-sm-6 col-md-3 d-flex align-items-center justify-content-center">
                        <h5 class="text-capitalize font-weight-bold mb-0" style="flex: 0 0 70%;">Hết hạn</h5>
                        <h3><span class="badge badge-dark">@Model.HetHan</span></h3>
                    </div>
                </div>
                <h3 class="text-capitalize font-weight-bold text-center mt-5 mb-0">
                    Chờ duyệt
                    <span class="h5 d-inline-block text-muted">Duyệt hoặc từ chối</span>
                </h3>

            </div>
        </div>
        @Html.Action("_TableView")
    </main>
</body>
@section Scripts {
<script>
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
</script>
}
