@model IEnumerable<QuanLyCuTru.Models.CuTru>

@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trang thông tin cư trú cá nhân</h2>
<h5>Danh sách cư trú đã đăng ký</h5>
<table class="table table-hover mt-4 text-center">
    <thead>
        <tr>
            <th class="border-bottom-0">
                @Html.DisplayNameFor(m => m.LoaiCuTruId)
            </th>
            <th class="border-bottom-0">
                @Html.DisplayNameFor(m => m.Ten)
            </th>
            <th class="border-bottom-0">
                @Html.DisplayNameFor(m => m.DiaChi)
            </th>
            <th class="border-bottom-0">
                @Html.DisplayNameFor(m => m.DienThoai)
            </th>
            <th class="border-bottom-0">
                @Html.DisplayNameFor(m => m.NgayDangKy)
            </th>
            <th class="border-bottom-0">
                @Html.DisplayNameFor(m => m.NgayHetHan)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="clickable-row" data-href="@Url.Action("Details", "QuanLyCuTru", new { id = item.Id })">
                <td>@item.LoaiCuTru.Ten</td>
                <td>@item.Ten</td>
                <td>@item.DiaChi</td>
                <td>@item.DienThoai</td>
                <td>@item.NgayDangKy.ToShortDateString()</td>
                <td>@item.NgayHetHan.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>