@{
    Layout = null;

    // Button link ViewData
    var labelCanBo = "Cán bộ quản lý";
    var labelCongDan = "Người đăng ký";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="../../Content/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="180x180" href="../../Content/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../Content/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../Content/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="../../Content/img/favicons/site.webmanifest">
    <link rel="mask-icon" href="../../Content/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="../../Content/img/favicons/favicon.ico">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
            crossorigin="anonymous"></script>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/landing.css")

    <title>Resident Management</title>
</head>
<header class="header">
    <div class="content">
        <div class="logo-box">
            <p class="logo-box__title mb-5">Quản Lý Cư Trú 4.0</p>
            <p class="logo-box__subtitle">Bạn là ai ?</p>
            
            @Html.ActionLink(labelCanBo, "Index", "CanBo", null, new { @class = "btn btn-lg btn-outline-success" })
            @Html.ActionLink(labelCongDan, "Index", "CongDan", null, new { @class = "btn btn-lg btn-outline-primary" })
        </div>
        <div class="text-box">
            <h3 class="text-box__heading">Ủy ban nhân dân phường<br>HUTECH</h3>
            <div class="text-box__group">
                <p class="text-box__paragraph"><i class="fas fa-clock"></i> Giờ làm việc:</p>
                <p class="text-box__paragraph">Buổi sáng: 7h30 &dash; 11h30</p>
                <p class="text-box__paragraph">Buổi chiều: 13h00 &dash; 17h30</p>
            </div>
            <div class="text-box__group">
                <p class="text-box__paragraph"><i class="fas fa-phone"></i> Điện thoại:</p>
                <p class="text-box__paragraph">01223727680</p>
            </div>
            <div class="text-box__group">
                <p class="text-box__paragraph"><i class="fas fa-address-book"></i> Địa chỉ:</p>
                <p class="text-box__paragraph">475A Điện Biên Phủ</p>
            </div>
        </div>
    </div>
</header>

<!-- mobile quries -->
<div class="footer-mobile">
    <div class="text-box__group--mobile">
        <i class="fas fa-clock"></i>
        <div class="text-box__paragraph-box--mobile">
            <p class="text-box__paragraph--mobile">7h30 &dash; 11h30</p>
            <p class="text-box__paragraph--mobile">13h00 &dash; 17h30</p>
        </div>
    </div>
    <div class="text-box__group--mobile">
        <i class="fas fa-phone"></i>
        <div class="text-box__paragraph-box--mobile">
            <p class="text-box__paragraph--mobile">01223727680</p>
        </div>
    </div>
    <div class="text-box__group--mobile">
        <i class="fas fa-address-book"></i>
        <div class="text-box__paragraph-box--mobile">
            <p class="text-box__paragraph--mobile">475A Điện Biên Phủ</p>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")


</html>