@model QuanLyCuTru.Models.QuyenHanViewModel
@{
    ViewBag.Title = "QuyenHan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách quyền hạn</h2>

@using (Html.BeginForm("ThemQuyenHan", "Admin", FormMethod.Post, new { @class = "form-inline" }))
{
    @Html.TextBoxFor(m => m.RoleName,
        new
        {
            @class = "form-control mb-2 mr-sm-2 mb-sm-0",
            @placeholder = ""
        })

    <button type="submit" class="btn btn-primary">Thêm mới</button>
}

<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdentityRoles[0].Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.IdentityRoles[0].Id)
        </th>

        <th>Thao tác</th>
    </tr>

    @foreach (var item in Model.IdentityRoles)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.ActionLink("Sửa", "SuaCongDan", new { id = item.Id }) |
                @Html.ActionLink("Xóa", "XoaCongDan", new { id = item.Id })
            </td>
        </tr>
    }
</table>
